
.main{
    background-image:url("hora.jpg");
    background-repeat: no repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color:rgb(216, 186, 156);
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.nav ul li {
    display: inline-block;
    padding: 8px 20px;
    color: rgb(9, 9, 9);
}
.nav ul li a{
    color: rgb(16, 3, 3);
    text-decoration: none;
    font-weight: bold;
}
.call-me{
    text-decoration: none;
    color: rgb(234, 230, 223);
    background-color: blue;
    padding:8px 20px;
    border-radius: 25px;
    transition: 3s;
}
.call-me:hover{
    color: black;
    background-color: rgb(156, 125, 125);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
}
.content h1{
    color: rgb(38, 9, 155);
    font-size: 60px;
    margin: 30px 40px;
}
.content h5{
    color: rgb(2, 10, 11);
    font-size: 22px;
    letter-spacing: 2px;
}
.content h3{
    color:rgb(89, 167, 5);
    font-size: 35px;
    margin-bottom: 40px;
}
.nav{
    background-color: brown;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 16px;
}