*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.box{
    background-color: rgb(19, 203, 249);
    height: 500px;
    width: 400px;
    display: flex;
    justify-content:center;
flex-direction: column;
align-items: center;
}
h1{
    margin-bottom: 10px ;
}
.field{
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    background: rgb(255, 0, 0);
    border: none;
    border-bottom: 2px black;
}
.button{
    padding: 10px;
    border: none;
    width: 30%;
    font-size: 20px;
    color: rgb(104, 161, 210);
    background-color: rgb(164, 34, 60);

}
.table-container{
    display: flex;
    justify-content: center;
}
table{
    border:1px solid black
}
table tr{
    padding: 10px;
}
table tr th{
    padding: 10px;
    background-color: rgb(165, 138, 98);
    border: 1px solid;
}
table tr td{
    padding: 10px;
    background-color: rgb(37, 161, 161);
}
buttton:hover{
background-color: rgb(9, 8, 7);
}